numpy
opencv-python
psutil
pyautogui
pillow
winrt-runtime
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Media.Ocr
winrt-Windows.Storage.Streams
customtkinter>=5.2.0
# Optional OCR backends:
# easyocr
# pytesseract
